@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
    src: url("assets/fonts/lato-v16-latin-300.woff2") format("woff2"),
      url("assets/fonts/lato-v16-latin-300.woff") format("woff");
  }
  
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url("assets/fonts/lato-v16-latin-regular.woff2") format("woff2"),
      url("assets/fonts/lato-v16-latin-regular.woff") format("woff");
  }
  
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: url("assets/fonts/lato-v16-latin-700.woff2") format("woff2"),
      url("assets/fonts/lato-v16-latin-700.woff") format("woff");
  }
  
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-display: fallback;
    src: url("assets/fonts/lato-v16-latin-900.woff2") format("woff2"),
      url("assets/fonts/lato-v16-latin-900.woff") format("woff");
  }
  
body {
    margin: 0 0;
    font-family: "Lato", "Arial", sans-serif;
    width: 1020px;
    
  }

.portfolio-wrapper {
  display : flex;
  margin: 0 auto;
  background-color: #464b5e;
  position: relative;
  flex-direction: column; 
}

.portfolio-title {
font-size: 30px;
line-height: 18px;
color: #666d89;
font-family: "Lato";
font-weight: 900;
text-align: left;
margin: 68px 0 35px 41px;
}



.portfolio-text {
width: 940px;
height: 57px;
font-size: 18px;
line-height: 30px;
color: #767e9e;
font-family: 'Lato';
font-weight: 300;
text-align: left;
margin: -5px 40px 35px 40px;
}

.portfolio-tags {
margin-top: -53px;  
margin-bottom: 20px;
  
  margin-left: 40px; 


}
  .tag-selected {
  width: 29px;
  height: 22px;
  border-radius: 5px;
  background-color: #464b5e;
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
  outline: none;
}

.tag-selected:hover {
  outline: none;
  border-color: white;
  color: white;
}
 .portfolio-tags:nth-child(2) {
  width: 78px;
  height: 22px;
  border-radius: 5px;
  background-color: #464b5e;
  border: 1px solid #666d89;
  outline-style: none;
 }


.portfolio-description {
width: 940px;
height: 57px;
font-size: 18px;
line-height: 30px;
color: #767e9e;
font-family: "Lato";
font-weight: 300;
text-align: left;
}

.portfolio-samples {
display: flex; 
flex-wrap: wrap;
margin: 0 40px 70px 40px; 
width: 940px;
height: 601px;
justify-content: space-between;
}

.portfolio-picture{

}
.button {
  width: 34px;
  height: 34px; 
  position: relative;
  cursor: pointer;
  border: none;
}

.portfolio-samples:nth-child(n+13) {
  display: none;
}


.facebook {
  background: url("assets/Facebook.png") no-repeat 0 0;
}

.facebook:hover {
  background: url("assets/facebook-hover.png") no-repeat 0 0;
}

.google {
  background: url("assets/Google.png") no-repeat 0 0;
}

.google:hover {
  background: url("assets/google-hover.png") no-repeat 0 0;
}

.twitter {
    background: url("assets/Twitter.png") no-repeat 0 0;
}

.twitter:hover {
  background: url("assets/twitter-hover.png") no-repeat 0 0;
}

.linkedin {
  background: url("assets/LinkedIn.png") no-repeat 0 0;
}

.linkedin:hover {
  background: url("assets/linkedin-hover.png") no-repeat 0 0;
}